# FileName=caddy.container
[Unit]
Description=Caddy Container
After=network-online.target
Wants=network-online.target

[Container]
Image=ghcr.io/johnlevandowski/caddy-cloudflare:2.11.4
HostName=caddy
ReadOnly=true

PublishPort=80:80/tcp
PublishPort=443:443/tcp
PublishPort=443:443/udp

Environment=ACME_AGREE=true
Environment=LANDOMAIN=geekoma5.lan.johnl.dev
Environment=TSDOMAIN=geekoma5.ts.johnl.dev

Volume=%h/caddy/site/:/srv:z
Volume=%h/caddy/Caddyfile:/etc/caddy/Caddyfile:z
Volume=caddy_data:/data:z
Volume=caddy_config:/config:z

Secret=CLOUDFLARE_API_TOKEN

[Service]
Restart=always

[Install]
WantedBy=default.target
