# FileName=caddy.container
[Unit]
Description=Caddy Container
After=network-online.target
Wants=network-online.target

[Container]
Image=ghcr.io/johnlevandowski/caddy-cloudflare:2.11.4
HostName=caddy

PublishPort=80:80
PublishPort=443:443
PublishPort=443:443/udp

Environment=ACME_AGREE=true
Environment=LANDOMAIN=macbook.lan.johnl.dev
Environment=TSDOMAIN=macbook.ts.johnl.dev

Volume=/home/john-podman/caddy/site/:/srv:z
Volume=/home/john-podman/caddy/Caddyfile:/etc/caddy/Caddyfile:z
Volume=caddy_data:/data:z
Volume=caddy_config:/config:z

Secret=CLOUDFLARE_API_TOKEN

[Service]
Restart=always

[Install]
WantedBy=default.target
