# FileName=pihole-unbound.container
[Unit]
Description=Unbound DNS Container

[Container]
Pod=pihole.pod
Image=ghcr.io/johnlevandowski/unbound:3.24.1-1.25.2-r0
ReadOnly=true
Mount=type=tmpfs,destination=/etc/unbound,tmpfs-size=100M,tmpcopyup,tmpfs-mode=0755,U=true

# HealthCmd=dig -p 5335 @127.0.0.1 www.google.com +short || exit 1
# HealthInterval=30s
# HealthRetries=3
# HealthStartPeriod=10s
# HealthTimeout=30s

# Volume=%h/unbound/etc-unbound:/etc/unbound/unbound.conf.d

[Service]
Restart=always

[Install]
WantedBy=default.target
