# FileName=pihole-unbound.container
[Unit]
Description=Unbound DNS Container
# After=network-online.target
# Wants=network-online.target

[Container]
Pod=pihole.pod
Image=ghcr.io/johnlevandowski/unbound:3.24.1-1.25.2-r0
# HostName=unbound

# Network=pasta:--ipv4-only
# PublishPort=5335:5335/tcp
# PublishPort=5335:5335/udp

# HealthCmd=dig -p 5335 @127.0.0.1 www.google.com +short || exit 1
# HealthInterval=30s
# HealthRetries=3
# HealthStartPeriod=10s
# HealthTimeout=30s

# Volume=/home/john-podman/unbound/etc-unbound:/etc/unbound/unbound.conf.d:z

[Service]
Restart=always

[Install]
WantedBy=default.target
