# FileName=immich-machine-learning
[Unit]
Description=Immich machine learning

[Container]
Pod=immich.pod
Image=ghcr.io/immich-app/immich-machine-learning:v3.1.0

Volume=immich-model-cache:/cache:z

[Service]
Restart=always
